<% tabindex_on '#search_field' %>

<% cache(CacheObserver.daily_key_for("site_index", request)) do %>
<% @times_to_events ||= @times_to_events_deferred.call %>
<a href="#" id="homepage_sidebar_toggle" class="expander_toggle">Hi there. Learn about this site and how to use it...</a>
<div id="homepage_sidebar">
  <div id="project_description">
    <%= render :partial => "description" %>
  </div>

  <div id="tagcloud">
    <h2>Popular tags</h2>
    <%= @tagcloud_items_deferred.call.map{ |item| 
          tag_link(:event, item[:tag], "tagcloud_level_#{item[:level]}") 
        }.join('<span class="spacer"> &middot; </span>') -%>
  </div>
</div>

<div id="whats_happening">
  <h1>What's happening?</h1>
  <div id='coming_events'>
    <h3>Today</h3>
    <% @page_today||=1 %>
      <%= render 'events/list', :events => @times_to_events[:today][((@page_today-1)*15),15], :dates => false %>
        <%
    page_count = @times_to_events[:today].length/15 + 1
    if @times_to_events[:today].length%15 == 0
      page_count = page_count - 1
    end
  %>
    <% if page_count > 1 -%>
      <div class="pagination">
        <ul>
          <% if @page_today != 1 -%>
            <li>
              <%= link_to '&#171; Previous', { :page_today => (@page_today - 1) }, :class=>"prevnext" %>
            </li>
          <% else -%>
            <li>&#171; Previous</li>
          <% end -%>

          <% for n in (1..page_count) %>
            <% if(n == 1) %>
              <% if(@page_today == 1) %>
                <li><%= link_to n, {:page_today => n}, :class => "currentpage" %></li>
              <% else %>
                <li><%= link_to n, :page_today => n %></li>
              <% end %>
            <% elsif (n == page_count) %>
              <% if(@page_today == page_count) %>
                <li><%= link_to n, {:page_today => n}, :class => "currentpage" %></li>
              <% else %>
                <li><%= link_to n, :page_today => n %></li>
              <% end %>
            <% else %>
              <% if ((n >= (@page_today - 2)) && (n <= (@page_today+2)) && (n != 1) && (n != page_count)) %>
                <% if(@page_today == n) %>
                  <li><%= link_to n, {:page_today => n}, :class => "currentpage" %></li>
                <% else %>
                  <li><%= "..." if ((n == (@page_today - 2)) && (@page_today - 2 != 2)) %><%= link_to n, :page_today => n %><%= "..." if ((n == (@page_today+2)) && (@page_today + 2 != page_count-1)) %></li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if @page_today != page_count -%>
            <li class="nextpage">
              <%=  link_to 'Next &#187;', { :page_today => (@page_today + 1) }, :class => "prevnext" %>
            </li>
          <% else -%>
            <li class="disablepage">Next &#187;</li>
          <% end -%>
        </ul>
      </div>
    <% end -%>
    <h3>Tomorrow</h3>
    <% @page_tomorrow||=1 %>
    <%= render 'events/list', :events => @times_to_events[:tomorrow][((@page_tomorrow-1)*15),15], :dates => false %>
        <%
    page_count = @times_to_events[:tomorrow].length/15 + 1
    if @times_to_events[:tomorrow].length%15 == 0
      page_count = page_count - 1
    end
  %>
    <% if page_count > 1 -%>
      <div class="pagination">
        <ul>
          <% if @page_tomorrow != 1 -%>
            <li>
              <%= link_to '&#171; Previous', { :page_tomorrow => (@page_tomorrow - 1) }, :class=>"prevnext" %>
            </li>
          <% else -%>
            <li>&#171; Previous</li>
          <% end -%>

          <% for n in (1..page_count) %>
            <% if(n == 1) %>
              <% if(@page_tomorrow == 1) %>
                <li><%= link_to n, {:page_tomorrow => n}, :class => "currentpage" %></li>
              <% else %>
                <li><%= link_to n, :page_tomorrow => n %></li>
              <% end %>
            <% elsif (n == page_count) %>
              <% if(@page_tomorrow == page_count) %>
                <li><%= link_to n, {:page_tomorrow => n}, :class => "currentpage" %></li>
              <% else %>
                <li><%= link_to n, :page_tomorrow => n %></li>
              <% end %>
            <% else %>
              <% if ((n >= (@page_tomorrow - 2)) && (n <= (@page_tomorrow+2)) && (n != 1) && (n != page_count)) %>
                <% if(@page_tomorrow == n) %>
                  <li><%= link_to n, {:page_tomorrow => n}, :class => "currentpage" %></li>
                <% else %>
                  <li><%= "..." if ((n == (@page_tomorrow - 2)) && (@page_tomorrow - 2 != 2)) %><%= link_to n, :page_tomorrow => n %><%= "..." if ((n == (@page_tomorrow+2)) && (@page_tomorrow + 2 != page_count-1)) %></li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if @page_tomorrow != page_count -%>
            <li class="nextpage">
              <%=  link_to 'Next &#187;', { :page_tomorrow => (@page_tomorrow + 1) }, :class => "prevnext" %>
            </li>
          <% else -%>
            <li class="disablepage">Next &#187;</li>
          <% end -%>
        </ul>
      </div>
    <% end -%>
  </div>
  <div id='recently_added_events'>
    <h3><%= link_to("View future events &raquo;", events_path(:anchor => "event-#{@times_to_events[:more].id}")) if @times_to_events[:more] %></h3>
  </div>
</div>
<% end %>
